body{
    height: 100%;
    font-family: sans-serif;
	margin: 0;
	background-color: white; 
}
#banner{
    width: 100vw;
    height: 70px;
    display: grid;
    text-align: left;
    background-color: black;
    grid-template-columns: 10% 90%;
    align-items: center;
}

#title{
    display: grid;
    color: white;
}

#main-icon{
    margin-left: 20px;
    margin-right: 20px;
    width: 50px;
	filter: invert(100%);
}

.sidebar{
    background-color: lightgray;
    width: 20%;
}

.rightBar{
    width: 30%;
}

.side-icon{
    width: 30px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.main-area{
    width: 50%;
	margin: 0
}


.page{
    width: 100vw;
    height: 100vh;
	display: grid;
	grid-template-columns: 20% 50% 30%;
	margin: 0
}

button{
    font-style: bold;
}

li{
    margin: 0;
    padding: 0;
    margin-inline-start: 0;
    padding-top: 20px;
    list-style-type: none;
    align-items: center;
  }

ul{
    padding: 0;
}

a{
    text-decoration: none;
    align-items: center;
    color: rgb(20, 20, 20);
}

li:hover {
    background-color: rgb(300, 300, 300);
  }


p{
    font-style: normal;
}